#body-calendar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.calendar {
    margin: 0 50px 0 50px;
}

.calendar-titel {
    margin: 0 auto 0 auto;
    width: 100px;
    color: blue;
    font-size: 50px;
}

.calendar-titel::first-letter {
    text-transform: uppercase;
}

.month {
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
}

.monthText {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 1 / -1;
}

.text {
    text-align: right;
    padding-right: 5px;
}

.textYear{
    text-align: left;

}

.arrow{
    cursor: pointer;
}

.day {
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
}

.dayOfTheWeek {
    text-align: center;
    padding-top: 5px;
    font-weight: bold;
}

.notActiveDay {
    color: lightgray;
    cursor: default;
    text-decoration: line-through;
}

.emptyDay {
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    text-align: center;
    padding-top: 5px;
}

.dayActive {
    background-color: yellow;
}


@media only screen and (max-width: 1000px) {
    #body-calendar {
        grid-template-columns: 1fr;
    }
}